In [22]:
from sqlite3 import *

In [2]:
conn = connect('database/tutorials.db')
print("Opened database successfully")

Opened database successfully

In [42]:
conn.execute(("drop table recepies;"))
print("Database reset")

Database reset

In [43]:
if(conn.execute(
    "CREATE Table recepies(id INT PRIMARY KEY NOT NULL,name VARCHAR,description TEXT,created DATETIME)")):
    print("Table created successfully")

Table created successfully

In [44]:
conn.execute("INSERT INTO recepies VALUES(101,'Chicken','Indian','24-12-2022');")
conn.execute("INSERT INTO recepies VALUES(102,'Chicken','Indian','25-12-2022');")
conn.execute("INSERT INTO recepies VALUES(103,'Chicken','Indian','26-12-2022');")

In [45]:
for rows in conn.execute("SELECT * FROM recepies;"):
    print(rows)

(101, 'Chicken', 'Indian', '24-12-2022')
(102, 'Chicken', 'Indian', '25-12-2022')
(103, 'Chicken', 'Indian', '26-12-2022')

In [46]:
conn.execute("UPDATE recepies SET name = 'EGG' WHERE id=102") #Update command

In [49]:
for rows in conn.execute("SELECT * FROM recepies;"):
    print(rows)

(101, 'Chicken', 'Indian', '24-12-2022')
(102, 'EGG', 'Indian', '25-12-2022')
(103, 'Chicken', 'Indian', '26-12-2022')

In [54]:
conn.execute("DELETE FROM recepies WHERE id=102")

In [55]:
for rows in conn.execute("SELECT * FROM recepies;"):
    print(rows)

(101, 'Chicken', 'Indian', '24-12-2022')
(103, 'Chicken', 'Indian', '26-12-2022')